canvas {
	/*position: relative;
	top: 0px;
	left: 0px;*/
	background-color: lightgrey;
}
body {
	direction: rtl;
	allign: left;
}
header {
	background-color: black;
}
.flex-container {
	display: -webkit-flex;
	display: flex;
	width: 400px;
	height: 250px;
	background: transparent;
	float: left;
	margin: 0 0 10px 10px
}

.flex-item {
	background: transparent;
	width: 100px;
	height: 100px;
	margin: 10px;
}
a:link, a:visited {
	background-color: green;
	color: white;
	padding: 14px 25px;
	text-align: center; 
	text-decoration: none;
	display: inline-block;
}

a:hover, a:active {
	background-color: dark-green;
}
.container {
  max-width:1000px;
  margin:0 auto;
  text-align:center;
}
#slider_count {
  margin:0px auto;
  width:200px;
  padding:20px 20px;
  text-align:center;
  background-color:blue;
}

/* ::::::::::::::::::::Range Slider Styles::::::::::::::::::::::::: */
.range-slider-block {
  margin:0px auto;
  width:90%;
  }
#range-slider {
  padding:40px 0px;
  width:100%;
  /*outline: 1px solid green;*/
}
/* Remove Range Sliders Default Styles*/
input[type=range]{
    -webkit-appearance: none;
}
/* Track */
input[type=range]::-webkit-slider-runnable-track {
    height: 10px;
    background: #d7d7d7;
    border: none;
    border-radius: 6px;
}
input[type=range]:focus {
    outline: none;
}
/* Thumb */
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: #46947F;
    margin-top: -9px;
    transition: box-shadow 0.5s;
}
input[type=range]:hover::-webkit-slider-thumb {
    box-shadow: 0 0 0 10pt rgba(190,190,190,0.4);
    cursor:pointer;
}

/* JS Stykes */
/* Changes Thumb color to darker green when mousedownn */
input[type=range].thumb-down::-webkit-slider-thumb {
  background:#316557;
}
/* Changes Thumb color back to light green when mouseup */
input[type=range].thumb-up::-webkit-slider-thumb {
  background:#46947F;  
}
/* Changes Ring color Green */
input[type=range].hover-ring::-webkit-slider-thumb {
    box-shadow: 0 0 0 6pt rgba(70,148,127,0.46);
    cursor:pointer;
}
input[type=range].hover-ring-out::-webkit-slider-thumb {
    box-shadow: 0 0 0 0pt rgba(0,0,0,0);
    cursor:pointer;
}
